:root{
  /*color */
  --white-color:#fff;
  --black-color:#140a00;
  --blue-color:#045fd4;
  --red-color:#ff0000;
  --grey-dark-color:#909090;
  --grey-light-color:#e0e0e0;

  /* size */
  --padding:12px;
  --avatar-size:36px;
  /* font size */
  --font-large:18px;
  --font-medium:14px;
  --font-small:12px;
  --font-micro:10px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
button,
button:focus{
  border: none;
  cursor: pointer;
  outline: none;
}
header{
  display: flex;
  justify-content: space-between;
  padding:var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}
header a {
  color: white;
  text-decoration: none;
}
header .logo{
  font-size: var(--font-large);
}
header .logo i{
  color: var(--red-color);
}
header .icon .fa-search{
  margin-right: var(--padding);
}

.player{
  position: sticky;
  top: 0;
  text-align: center;
  background-color: black;
}
/* video player */
.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

body > .info{
  padding: var(--padding);
}

.info .metadata .hashtags{
  display: flex;
  font-size: var(--font-small);
  color: blue;
}
.info .metadata .hashtags li {
  margin-right: var(--padding);
}
.info .metadata .titleAndButton {
  display: flex;
}
.info .metadata .titleAndButton .title{
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}
.info .metadata .views{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}
/* actions button */
.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}
.actions button{
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
  background-color: transparent;
}
.actions button i {
  margin: 0 auto ;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}
.actions button:active {
  color: var(--blue-color);
}
.channel {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
 }
.channel .metadata {
  display: flex;
  align-items: center;
}
.channel .metadata .info{
  display: flex;
  flex-direction: column;
}
.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
.channel .metadata .info .name{
  font-size: var(--font-medium);
}
.channel .metadata .info .subscribers{
  font-size: var(--font-small);
  font-weight: bold;
  color: var(--grey-dark-color);
}
.channel button{
  text-transform: uppercase;
  color: red;
  font-size: var(--font-medium);
  background-color: transparent;
  }

.upNext > .title ,
.upNext > .title{
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding)/2);
}
.upNext .item,
.moteBtn2 .item {
  display: flex;
  margin-top: var(--padding);
}
.upNext .item .img,
.moteBtn2 .item .img{
  flex: 1 1 35%;
  margin-right: var(--padding);
}
.upNext .item .img img,
.moteBtn2 .item .img img{
  width: 100%;
}

.upNext .item .info,
.extra-list .item .info{
  flex: 1 1 60%;
  text-align: left;
}
.upNext .item .moreBtn,
.extra-list .item .moreBtn{
  flex: 1 1 5%;
  background-color: transparent;
  height: 10%;  
}
.upNext .item .info,
.extra-list .item .info{
  display: flex;
  flex-direction: column;
}
.upNext .item .info .title
.extra-list .item .info .title{
  font-size: var(--font-small);
}
.upNext .item .info .name,
.upNext .item .info .views,
.moteBtn2 .item .info .name,
.moteBtn2 .item .info .views{
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}
footer{
  height: 200px;
  background-color: #a3add342;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer > p{
  font-weight: bold;
}
footer > section > *{
  font-size: 14px;
}
footer a {
  color: black;
  text-decoration: none;
}
footer span{
  padding: 0 10px;
}
#toggle {
display: none;
}

.moreBtn2 {
cursor: pointer;
padding: var(--padding);
color: var(--blue-color);
font-size: var(--font-medium);
}

.extra-list {
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease;
display: flex;
flex-direction: column;
}
.toto{
  text-align: center;
} 

#toggle:checked ~ .extra-list {
  max-height: 2000px;
}

.toto .moreBtn2 img {
  border-radius: 50%;
  width: 100px;
  height: 50px;
}